<section class="row">
  <h2>Survey</h2>
</section>

<%= if @demographic do %>
  <%= live_component @socket,
        PentoWeb.DemographicLive.ShowComponent,
        demographic: @demographic %>
  <%= live_component @socket,
        PentoWeb.RatingLive.IndexComponent,
        products: @products,
        current_user: @current_user %>
<% else %>
  <h2>Demographics</h2>
  <%= live_component @socket,
        PentoWeb.DemographicLive.FormComponent,
        user: @current_user,
        id: "demographic-form-#{@current_user.id}" %>
<% end %>
